
{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Hello Friend!{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/index.css'>
    </head>
    <body>
{{/block}}
<!-- begin inner template-->
<div class="container">
    {{#block "content"}}
    {{/block}}

</div>
<!-- end inner template-->
{{#block "footer"}}

    </body>
    <
    tnn-azpk-zbt