{{#partial "styles"}}
    <link rel="stylesheet" href="/css/heroes.css">
{{/partial}}

{{#partial "content"}}
    <h2 class="text-center mb-4 mt-5">Add your Squad!</h2>
    <div class="container mt-5 offset-sm-2 pt-3 pb-3">
        <div class="row">
            <div class="col offset-sm-2">
                <form action="/squads/new" method="POST">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control w-50" id="name" name="name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="maxSize" class="col-sm-2 col-form-label">Max Size</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control w-50" id="maxSize" name="maxSize">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="cause" class="col-sm-2 col-form-label">Cause</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control w-50" id="maxSize" name="cause">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Add Squad</button>
                </form>
            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}