{{#partial "content"}}
    <div class="container success text-center mt-5">
        <h1>Success!</h1>
        <h6>Your Squad post has been saved.</h6>
        <a href="/squads/list">View your squad</a>
    </div>

{{/partial}}

{{> layout.hbs}}