{{#partial "content"}}
    <div class="container success text-center mt-5">
        <h1>Success!</h1>
        <h6>Your Hero post has been saved.</h6>
        <a href="/heroes/list">View your heroes</a>
    </div>

{{/partial}}

{{> layout.hbs}}